html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #090b1a;
  font-family: "Inter", sans-serif;
}

.container {
  margin: 88px 24px;
}

@media (min-width: 64em) {
  .container {
    margin: 177px 165px;
  }
}

.card {
  background-color: #1b1938;
  max-width: 327px;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
}

@media (min-width: 64em) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1110px;
    text-align: left;
  }
}

.card__img {
  position: relative;
  background-color: #aa5cdb;
  min-height: 240px;
  margin-bottom: 40px;
}

@media (min-width: 64em) {
  .card__img {
    min-width: 540px;
    margin-bottom: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.card__img::before {
  content: "";
  background-image: url(/images/image-header-mobile.jpg);
  background-blend-mode: multiply;
  background-color: #aa5cdb;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.75;
}

.card__info {
  margin: 40px 32px 32px 32px;
}

@media (min-width: 64em) {
  .card__info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 72px 95px 59px 72px;
  }
}

.card__headline {
  font-size: 28px;
  font-weight: 700;
  color: white;
  margin-bottom: 16px;
}

.card__headline span {
  color: #aa5cdb;
}

@media (min-width: 64em) {
  .card__headline {
    font-size: 36px;
    margin-bottom: 25px;
    line-height: 44px;
  }
}

.card__text {
  color: rgba(255, 255, 255, 0.75);
  font-size: 15px;
  margin-bottom: 40px;
  line-height: 25px;
}

@media (min-width: 64em) {
  .card__text {
    margin-bottom: 72px;
    margin-right: 30px;
  }
}

.card__stats {
  color: white;
}

@media (min-width: 64em) {
  .card__stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.card__stat:not(:last-of-type) {
  margin-bottom: 24px;
}

@media (min-width: 64em) {
  .card__stat {
    margin-right: 61px;
  }
  .card__stat:not(:last-of-type) {
    margin-bottom: 0;
  }
}

.card__statNum {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.card__statHeading {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
}

@media (min-width: 64em) {
  .card__statHeading {
    font-family: "Lexend Deca", sans-serif;
  }
}
/*# sourceMappingURL=style.css.map */