.card {
    background-color: $darkDesaturatedBlue;
    max-width: 20.4375rem;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;

    @include breakpoint-up(large) {
        display: flex;
        max-width: 69.375rem;
        text-align: left;
    }

    &__img {
        position: relative;
        background-color: $softViolet;
        min-height: 15rem;
        margin-bottom: 2.5rem;
        @include breakpoint-up(large) {
            min-width: 33.75rem;
            margin-bottom: 0;
            order: 2;
        }

        &::before {
            content: "";
            background-image: url(/images/image-header-mobile.jpg);
            background-blend-mode: multiply;
            background-color: $softViolet;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0.75;
        }
    }

    &__info {
        margin: 2.5rem 2rem 2rem 2rem;
        @include breakpoint-up(large) {
            order: 1;
            margin: 4.5rem 5.9375rem 3.6875rem 4.5rem;
        }
    }

    &__headline {
        font-size: 1.75rem;
        font-weight: 700;
        color: $white;
        margin-bottom: 1rem;
        span {
            color: $softViolet;
        }

        @include breakpoint-up(large) {
            font-size: 2.25rem;
            margin-bottom: 1.5625rem;
            line-height: 2.75rem;
        }
    }

    &__text {
        color: $slightlyTransparentWhite;
        font-size: 0.9375rem;
        margin-bottom: 2.5rem;
        line-height: 1.5625rem;

        @include breakpoint-up(large) {
            margin-bottom: 4.5rem;
            margin-right: 1.875rem;
        }
    }

    &__stats {
        color: $white;

        @include breakpoint-up(large) {
            display: flex;
        }
    }

    &__stat {
        &:not(:last-of-type) {
            margin-bottom: 1.5rem;
        }

        @include breakpoint-up(large) {
            margin-right: 3.8125rem;
            &:not(:last-of-type) {
                margin-bottom: 0;
            }
        }
    }

    &__statNum {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.875rem;
    }
    &__statHeading {
        color: $slightlyMoreTransparentWhite;
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1.625rem;
        text-transform: uppercase;
        @include breakpoint-up(large) {
            font-family: "Lexend Deca", sans-serif;
            letter-spacing: 0.0625rem;
        }
    }
}
