html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $veryDarkBlue;
    font-family: "Inter", sans-serif;
}

.container {
    margin: 88px 24px;
}
